  body {
    margin: 0;
    padding: 0;
    background-color:#5ce1e6;
  }
   .logo{
    height: 150px;
    position:relative;
    right: 55px;
    top: 10px;
    transition: 0.2s ease-in-out;
   }

   .header{
    background-color: #5ce1e6;
    height: 180px;
   }

   .logo:hover{
    transform: scale(1.1);

   }

   nav {
    background-color: #5ce1e6;
    overflow: hidden;
    position: relative;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
   }

nav a {
  font-family: 'Architects Daughter', cursive;
  font-weight: 600;
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover {
    background-color: black;
    color: goldenrod;
    transition: 0.4s ease-in-out;
}

nav a.active {
  background-color: black;
  color: goldenrod;
}

.main-content{
  background-color: black;
  color: goldenrod;
  margin: 5px;
  height:590px;
}
